# ignore all hidden
.*
# except
!.gitattributes
!.gitignore
!.gitmodules
!.github
!.github/**
!.yamlfmt.yaml
!.yamllint.yml

# Logs
logs
*.log*
*.out

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# AI tools
!.serena
!.claude

# output
firestore2csv
output/
build/
target/
